*{
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    display: flex;
    height: fit-content;
    flex-direction: column;
    background-color: turquoise;
} 
.navibar{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: fit-content;
    width: 100%;
    /* background-color: black; */
    
    margin-bottom: 20px;
}
.navibar a{
text-decoration: none;
height: 40px;
}

.profilebox{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: 450px;
    height:450px;
    justify-content: space-between;
    align-items: flex-start;
}
.profileimg{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;

}
.profileimg>img{
    width: 100%;
    height: 100%;
    
}
.profiledescription{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 45%;
    justify-content: center;
    /* background-color: beige; */
}
.icon{
    width: 10%;
  font-size: larger;
  padding-right: 30px;
}
.search {

    width: 180px;
    border: none;
    height: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-start;
   
    /* background-color: green; */
}

.search input{
    
    height: 100%;
    width: 200px;
    border: none;
    /* background-color: white; */
    border-radius: 20px;
}
.search:hover{
    width: 15%;
    transition: 1s;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.select{
    height: 40px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}